/*----------------------------- Sheared Style ------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.btn {
    padding: 12px 22px;
    background-color: #e55473;
    color: white;
    border: none;
    border-radius: 5px;
}

img {
    max-width: 100% !important;
}

.txt-center {
    text-align: center;
}

.py-60 {
    padding: 80px 0;
}

/*----------------------------- Header Style ------------------------*/
.header {
    background: #fceef1;
    height: 95vh;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 73px;
}

.header-left {
    width: 40%;
}

.header-left h2 {
    font-size: 45px;
    font-weight: 900;
    color: #272727;
    line-height: 58px;
}

.header-left p {
    font-size: 11px;
    color: #7c7677;
    margin: 20px 0;
    line-height: 18px;
}

.header-right {
    width: 40%;
}

/*---------------------------- Featured Section ------------------------*/
.featured h2 {
    color: #272727;
    font-size: 30px;
}

.featured p {
    color: #7c7677;
    font-size: 12px;
    margin-top: 8px;
}

.featured-items {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.featured-item-top {
    width: 345px;
    height: 390px;
    background-color: #f1dde7;
    border-radius: 160px 160px 0 0;
    overflow: hidden;
    margin-bottom: 22px;
}

.featured-item-top img {
    width: 240px;
    position: relative;
    top: 68px;
}

.featured-item-top-2 {
    background-color: #d9eff0;
}

.featured-item-top-3 {
    background-color: #e3ebdb;
}

.featured-item-bottom u {
    font-weight: 600;
}

/*---------------------------- Deal Section ------------------------*/