/*----------------------------- Sheared Style ------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.btn {
    padding: 12px 22px;
    background-color: #e55473;
    color: white;
    border: none;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

/*----------------------------- Header Style ------------------------*/
.header {
    background: #fceef1;
    height: 95vh;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 73px;
}

.header-left {
    width: 40%;
}

.header-left h2 {
    font-size: 45px;
    font-weight: 900;
    color: #272727;
    line-height: 58px;
}

.header-left p {
    font-size: 11px;
    color: #7c7677;
    margin: 20px 0;
    line-height: 18px;
}

.header-right {
    width: 40%;
}